
*{
    margin: 0;
    padding: 0;
    /* border: 1px solid yellow; */
}

@font-face {
    font-family: myFirstFont;
    src: url(../Poppins/Poppins-Regular.ttf);
}
    @font-face {
    font-family: bold;
    src: url(../Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: secound;
    src: url(../Poppins/Poppins-Bold.ttf);
}

h1{
    font-family: bold;
}

body{
    font-family: myFirstFont,Verdana, Geneva, Tahoma, sans-serif;
    cursor:default;
    background-image:url(background.jpg);
}

    /* Website Scrollerbar */
    body::-webkit-scrollbar {
        width: 5px ;
        height: 5px ;
    }
    body::-webkit-scrollbar-track {
        background: #3838387c ;
    }
    body::-webkit-scrollbar-thumb {
        background-color: #e0120ba4;
        border: 1px solid #ff020279 ;
        border-radius: 1px ;
    }

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(clgpic.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 7%;
    padding-right: 30vh;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 90px;
    padding-right: 20vh;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
    
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff0000;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
    
    
}

.text-box{
    width: 90%;
    color: #fff;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
   
}
.text-box h1{
    font-size: 55px;
    font-weight: 300;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: yellow;
    border: 2px solid yellow;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
.hero-btn:hover{
    color: black;
    border: 2px solid yellow;
    background:yellow;
    transition: 0.5s;
}

.icon{
    display:none;
}

 .course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 300;
}
p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: grid;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background:#fff3f3;
    border-radius: 10px;
    margin-bottom:5%;
    padding: 20px 25px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}
.course-col:hover{
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.4);
}

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus .row{
    display: flex;
}
.campus-col{
    flex-basis: 32%;

    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: grid;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(0, 245, 253, 0.534);

    /* rgba(253, 0, 0, 0.7); */
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    opacity: 1;
    bottom: 49%;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.facilities .row{
    display: flex;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
}
.facilities-col p{
    padding: 10%;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.facilities-col:hover{
        transform: scale(1.5);
         transform: scale(1.1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
      
}
.facilities-col img:hover{
    box-shadow: 3.5px 5px 15px 10px rgba(0, 0, 0, 0.308);
}
.ctn{
    margin: 100px auto;
    width: 80%;
    height:50vh;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    transition: 0.5s;
    margin-top:10px;
    margin-bottom: 10px;
}
.ctn video{
    width: 100%;
    margin-bottom:10px;
    height: 50vh;
    margin-top:10px;
    object-fit: fill;
}.logos h1{
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 500;
  }
  .placement .logos{
    padding-top: -20vh;
    height: 35vh;
    width: 100%;
    background-color: #ffffff;
  }
  @keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
  }
  .logos{
    overflow: hidden;
    padding: 15px 0;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
  }
  .logos:hover .logo-slide{
    animation-play-state: paused;
  }
  .logo-slide{
    align-items: center;
    display: inline-block;
    animation: 10s slide infinite linear;
  }
  .logo-slide img{
    width: 10%;
    margin: 0 40px;
  }


@media (max-width: 700px) {

    *{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    
    }
    #logo-img{
        padding: 10px;
    }
    .text-box h1{
       font-size: 30px;
       font-weight: bold;
    }
    .text-box p{
        font-size: 12px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0%;
        text-align: left;
        z-index: 999;
        transition: 1s;
    }
    .icon{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

    .course-col{
        margin: 10px 10px;
    }
    .row{
        flex-direction: column;  
    }   
    .course-col:hover{
        box-shadow: 3px 3px 0.5px 0.5px rgba(0, 0, 0, 0.486);
    }
    
    .facilities-col img:hover{
        box-shadow:none;
    }

    .ctn h1{
        font-size: 24px;
    }
}
.drop {
    background-color: #d0f7be;
   
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.dropdown {
    position: relative;
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.2,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
   text-align: center;
   transition-duration: 0.6s;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:rgb(193, 176, 176);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
 
          .about
        {
            margin-left:350px;
            margin-right:300px;
        }
        .container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
  .footer
{
    background-color:rgba(4,9,30,0.6);
    margin-left: 0%;
   margin-right: 0%;
}
.footer-col{
   width: 25%;
  padding:10px;
   margin-left: 0%;
   margin-right: 0%;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color:rgb(221, 208, 208);
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.recruiter{
    margin-top:10px;
}
  
  .marquee-content {
    display: flex;
    animation: scrolling 10s linear infinite;
  }
  
  .marquee-item {
    flex: 0 0 16vw;
    margin: 0 1vw;

  }
  
  .marquee-item img {
    display: block;
    width: 100%;
  
  }
  
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translatex(-144vw); }
  }
  
